@model List<Portfalio.Models.Project>


<link rel="stylesheet" href="~/css/projects.css"/>

@{
    if (TempData["success"] != null)
    {
        <h3 class="headline" style="align-content:center; background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            text-align:center; height:30px;">
            Message :   @TempData["success"]
        </h3>
    }
}

<div>
    <input style="align-content:center; background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; margin-left:30%; height:40px;width:200px;" type="button" value="Add Project" onclick="location.href='@Url.Action("addProject", "projects")'" />
</div>

    <div class="cards">
@{
    
    foreach(var project in Model){

                                        <div class="card">
                                            <div class="projectTitle">
                                                <h4>@(project.Name) </h4>
                                            </div>

                                            <div>
                                                <small style="font-size:12px">Language: @(project.Language)</small>
                                                    <p style="font-size:14px">Descryption : @(project.Details)</p>
                                            </div>
                                            <div>
                                            <a asp-conztroller="Projects" asp-action="EditProject" asp-route-id="@project.Id"> Update</a>
                                            <a asp-conztroller="Projects" asp-action="DeleteProject" asp-route-id="@project.Id"> Delete</a>
                                            </div>
                                        </div>
        
        }
    
}
</div>